@font-face {
    font-family: CopperplateGothicBoldRegular;
    src: url(../Copperplate\ Gothic\ Bold\ Regular.ttf);
}
.bp, h1, h3, .sub, .p{
    margin: 0%;
}
header, .bp, #link{
    background-color: #100b11;
}
header, footer, .info, .video, ul{
    font-family: CopperplateGothicBoldRegular;
}
header, main, .lane, .content, .video, .icones, .build, #renee, .pearl{
    align-items: center;
}
header, main, .info, .lane, .content, .video, .icones, .iconesv, .build, .text, #renee, .pearl, .pearll{
    display: flex;
}
header, #renee{
    flex-direction: row;  
}
header, .video, .icones, .text, #renee{
    justify-content: space-between;
}
header, footer{
    color: silver;
}
main, .info, .iconesv, .build, .pearll{
    flex-direction: column;
}
.info, .lane, h1, h2, h3{
    background: linear-gradient(0deg,#f9e4b7,#d2a86c 67.77%,#bd9554 80.02%,#a8833d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: "";
}
.lane, .content, .video, .text, .pearl, .icones{
    flex-flow: row nowrap;
}
.lane, .st, .tuto{
    font-size: 30px;
}
#link, .lio, .mention, .pearl{
    text-decoration: none;
}
#link, #rlink{
    font-size: 25px;
}
#link, .iconesv, #index{
    border-radius: 10px;
}
.skill, .iconesv, #index, #bi{
    border: 2px solid white;
}
.tuto, .des, .text{
    font-family: "Teko";
}
.tuto, .des, ul, #rlink, .mention, .ull{
    color: wheat;
}
.tuto, .des{
    font-size: 3vw;
    letter-spacing: 0.5px;
    text-align: justify;
}
.build, #status{
    justify-content: center;
}
.tuto, ul{
    margin: 0px 60px;
}
.pearl, .bi{
    cursor: help;
}
.skill, #bi{
    border-radius: 100%;
}
.mention:hover, #rlink, .ull{
    text-decoration-color: wheat;
}
.bp{
    background-image: url("../images/background.jpg");
    background-size: cover;
}
footer{
    background-color: rgba(0,0,0,0.5);
    font-size: 12px;
    padding: 16px 250px;
}
.content{
    width: 85%;
    justify-content: space-evenly;
}
.info{
    align-items: flex-start;
    padding: 65px 0px;
    padding-right: 0%;
}
.lane{
    align-self: center;
    margin-right: 6.5%;
}
.sa{
    padding-top: 0%;
    padding-left: 0.3%;
}
h1{
    font-size: 90px;
}
h2{
    font-size: 43px;
    margin: 10px auto;
    margin-bottom: 25px;
    margin-top: 50px;
}
.sub{
    border-top: 1px solid rgba(255,217,0,.23137254901960785);
}
.des{
    line-height: 150%;
    padding-right: 9px;
}
.video{
    width: 72%;
}
#link{
    border: 1px solid white;
    color: white;
    padding: 0% 0.2%;
}
.icones{
    width: 60%;
}
.skill{
    cursor: pointer;
}
.skill:hover{
    filter: brightness(125%);
}
.st{
    margin-top: 45px;
}
.build{
    width: 100%;
}
#status{
    margin-top: 30px;
}
#spell{
    border-right: 2px solid rgba(255,217,0,.23137254901960785);
    padding-right: 10px;
}
li{
    margin-bottom: 10px;
}
#renee{
    width: 60%;
}
#rlink{
    width: 50%;
}
#index{
    margin-top: 160px;
    margin-left: 100px;
    padding-right: 15px;
}
.lio:hover, .mention:hover{
    text-decoration: underline;
}
.lio:hover{
    text-decoration-color: white;
}
.pearl{
    margin-right: 5px;
}
.pearll{
    justify-content: flex-start;
}
#pearl{
    margin-right: 3px;
}
mark{
    background-color: transparent;
}